$icon-color: beige;
$icon-size: 80px;

.container-large{
  background-color: #01161E;

  h2 {
      text-align: center;
      font-weight: bold;
      color: beige;
  }

  .contact-body{
    max-width: 1500px;
    margin: 0 auto;
    place-content: center;

    @media only screen and (max-width: 600px){
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }

    .logos{
      display: flex;
      flex-wrap: wrap;  
      place-content: center;

      .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 125px;
        height: 125px;
        margin: 10px;
        border-radius: 50%;
        text-decoration: none;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        box-shadow: 4px -4px 6px 0px rgba(31, 31, 31, 0.6), -4px -4px 6px 0px rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0px rgba(53, 53, 53, 0.6), inset 4px 4px 6px 0px rgba(116, 125, 136, 0.3);
        transition: transform 300ms , font-size 500ms;

        &:focus {
          outline: none;
          transform: scale(1.2);
        }
        &:hover {
          transform: scale(1.2);
          font-size: 95px;
        }

        &-telegram {
          font-size: 126px;
          background: $icon-color;
          color: #007bb5;
          &:hover{
            font-size: 170px!important;
          }
        }
        &-github{
          font-size: 135px;
          background: #01161E;
          color: $icon-color;
          &:hover{
            font-size: 160px!important;
          }
        }
        &-twitter {
          font-size: $icon-size;
          background: #55ACEE;
          color: $icon-color;
        }
        &-whatsapp {
          font-size: $icon-size;
          background: #a4c639;
          color: $icon-color;
        }
        &-snapchat-ghost {
          font-size: $icon-size;
          background: #eee000;
          color: $icon-color;
        }
        &-linkedin {
          font-size: $icon-size;
          background: #007bb5;
          color: $icon-color;
        }
        &-youtube {
          font-size: $icon-size;
          background: #bb0000;
          color: $icon-color;
        }
        &-instagram {
          font-size: $icon-size;
          background: #125688;
          color: $icon-color;
        }
        &-envelope{
          font-size: $icon-size;
          background: #006b47;
          color: $icon-color;
        }
      }
    }
  }

  .row>*{
    @media only screen and (min-width: 600px){
      width: 50%;
    }
  }
}  


