<section id="about-me" class="intro-section">
  <div class="text-start">
        <h2 class="display-5 m-0 txt"><strong>Ibrahim Alibrahim</strong></h2>
        <h1 class="display-2 mb-3 txt">Full Stack Developer</h1>
        <h5 class="m-0 txt">I am a self-motivated learned and supported with courses from <a class="refrence-link" href="https://www.udacity.com/" target="_blank">Udacity</a> & <a class="refrence-link" href="https://misk.org.sa/" target="_blank">Misk.</a></h5>
        <h5 class="m-0 mb-3 txt">I am currently looking for upportunities to get freelance projects or jops.</h5>
        <a class="nav-link" href="#contact"><button type="button" class="rounded-pill btn-rounded">Get in Touch<span> <fa-icon [icon]="faArrowRight"></fa-icon> </span></button></a>
  </div>
  <img src="../../../assets/images/mypic.png" class="my-img">
  <svg class="intro-shape" viewBox="0 0 1440 320"><path fill="#01161E" fill-opacity="1" d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</section>