<footer class="container-large p-5 pb-2">
    <div class="row">
        <div class="col-md-3 item">
            <h3>Website Sections</h3>
            <ul>
                <li><a href="#about-me">About me</a></li>
                <li><a href="#languages">My skills</a></li>
                <li><a href="#projects">My projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="col-md-3 item">
            <h3>Links</h3>
            <ul>
                <li><a href="http://ahhsn.com/" target="_blank">My Blog</a></li>
                <li><a href="https://github.com/ibrahim-albrahim/" target="_blank">My Github</a></li>
                <li><a href="https://wa.me/966565091858" target="_blank">My Whatsapp</a></li>
                <li><a href="https://t.me/hemo7f12" target="_blank">My Telegram</a></li>
            </ul>
        </div>

        <div class="col-md-3 item">
            <h3>About</h3>
            <ul>
                <li><a href="/cv.pdf" download >My CV</a></li>
                <li><a href="/certificates.pdf" download >My certificates</a></li>
            </ul>
        </div>

        <div class="col-md-3 item text">
            <h3>Ibrahim Alibrahim</h3>
            <p>this website designed and coded by me.</p>
        </div>
    </div>
    <p class="copyright">hemo7f12.me © 2021</p>
</footer>