.navbar{
    background:#265b70;
    font-weight: bold;
    font-size: 24px;
    z-index: 10;
    
    .nav-link{
        transition: transform 300ms;
        &:hover{
            transform: scale(1.1);
        }
    }
    a { 
        color: rgba(245, 245, 220,0.5);
        transition: color 300ms;
    }
    
    &-brand{
        width: 150px;
    }
    
    .back-to-top{
        opacity: 0;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 2rem;
        right: 1.5rem;
        background-color: beige;
        transition: opacity 300ms , transform 300ms , background-color 300ms;
        
        &:hover{
            background-color:rgba(153, 38, 240, 0.95);
            opacity: 1!important;
            transform: scale(1.2);
            
            .fa-arrow-up{
                color: beige;
            }
        }
        
        .fa-arrow-up{
            color: #01161E;
            font-size: 32px;
            transition: color 300ms;
        }
    }
    
}