<section class="content-section text-white text-center container-large" id="skills">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="pb-3"><strong>My Skills</strong></h2>
        </div>
        <div class="skills-container row">
            <app-language class="col-lg-1 skill" language="Python"       style="stroke-dasharray: 275; stroke-dashoffset: 275"></app-language>
            <app-language class="col-lg-1 skill" language="php"          style="stroke-dasharray: 175; stroke-dashoffset: 175"></app-language>
            <app-language class="col-lg-1 skill" language="Java"         style="stroke-dasharray: 200; stroke-dashoffset: 200"></app-language>
            <app-language class="col-lg-1 skill" language="Kotlin"       style="stroke-dasharray: 200; stroke-dashoffset: 200"></app-language>
            <app-language class="col-lg-1 skill" language="Android"      style="stroke-dasharray: 200; stroke-dashoffset: 200"></app-language>
            <app-language class="col-lg-1 skill" language="Flask"        style="stroke-dasharray: 250; stroke-dashoffset: 250"></app-language>
            <app-language class="col-lg-1 skill" language="MySQL"        style="stroke-dasharray: 200; stroke-dashoffset: 200"></app-language>
            <app-language class="col-lg-1 skill" language="PostgressSQL" style="stroke-dasharray: 225; stroke-dashoffset: 225"></app-language>
            <app-language class="col-lg-1 skill" language="Angular2"     style="stroke-dasharray: 225; stroke-dashoffset: 225"></app-language>
            <app-language class="col-lg-1 skill" language="ReactJS"      style="stroke-dasharray: 225; stroke-dashoffset: 225"></app-language>
            <app-language class="col-lg-1 skill" language="WordPress"    style="stroke-dasharray: 200; stroke-dashoffset: 200"></app-language>
            <app-language class="col-lg-1 skill" language="JavaScript"   style="stroke-dasharray: 275; stroke-dashoffset: 275"></app-language>
            <app-language class="col-lg-1 skill" language="HTML"         style="stroke-dasharray: 320; stroke-dashoffset: 320"></app-language>
            <app-language class="col-lg-1 skill" language="CSS"          style="stroke-dasharray: 275; stroke-dashoffset: 275"></app-language>
            <app-language class="col-lg-1 skill" language="SASS"         style="stroke-dasharray: 275; stroke-dashoffset: 275"></app-language>
            <app-language class="col-lg-1 skill" language="BootStrap"    style="stroke-dasharray: 320; stroke-dashoffset: 320"></app-language>
        </div>
    </div>
</section>