$font-color: beige;

section{
    background: #265b70;
    position: relative;
    z-index: 1;

    h2 {
        font-weight: bold;
        color: $font-color;
    }

    carousel{
        max-width: 1500px;
        margin: 0 auto;

        .card{
            margin: 0 16px;
            min-width: 340px;
            max-width: 340px;
            color: $font-color;
            border-radius: 4rem 0.75rem 4rem 0.75rem;
            transition: box-shadow 300ms;
            &:hover{
                box-shadow: 0 0 20px rgba(31, 31, 31, 0.6), 7px 7px 20px 0px #0001, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px rgba(48, 48, 48, 0.6), inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
            }

            &-img-top{
                border-top-left-radius: 3.75rem;
                max-height: 200px;
            }

            .card-skills{
                img{
                    width: 45px!important;
                    height: 45px!important;
                }
            }

            .card-title{
                display: flex;

                .rounded-circle{
                    width: 35px;
                    height: 35px;
                }
            }

            .card-links{
                position: fixed;
                bottom: 1%;
                width: 100%;
                place-content: center;

                .fa {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    padding: 10px;
                    font-size: 20px;
                    margin: 5px;
                    text-decoration: none;
                    border-radius: 50%;
                    transition: transform 300ms , opacity 300ms;

                    &:hover {
                        opacity: 0.7;
                        transform: scale(1.2);
                    }

                    &-github , &-eye{
                        font-size: 20px;
                        background: rgb(43, 48, 56);
                        color: $font-color;
                    }
                }
            }
        }

        @media only screen and(max-width: 600px) {
            margin: 0;
            max-width: 95vw;
        }
    }
}



