<form class="contact-me-form" action="https://formspree.io/f/xknywodg" method="POST" >
    <div class="row mb-1">
        <div class="form-group col-md-4">
            <input type="name" name="name" id="full-name" class="form-control" placeholder="" required>
            <label for="name"> <span>*Name</span> </label>
        </div>

        <div class="form-group col-md-4">
            <input type="email" for="_replyto" name="email" class="form-control" id="inputEmail" placeholder="" required>
            <label for="email"> <span>*Email</span> </label>
        </div>

        <div class="form-group col-md-4">
            <input type="telephone" class="form-control " id="telephone" name="telephone" placeholder="" required>
            <label for="telephone"> <span>*Phone</span> </label>
        </div>
    </div>

    <div class="form-group col-md-12 mb-3 mt-4">
        <textarea class="form-control" id="message" name="message" placeholder="" rows="5" required></textarea>
        <label for="message"> <span>*Message</span> </label>
    </div>
    <button type="submit" class="rounded-pill">Send <fa-icon [icon]="faPaperPlane"></fa-icon> </button>
</form>