/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after{
  box-sizing: border-box;
}

:root {
    overflow-x: hidden;
    @media only screen and (max-width: 600px) {
      overflow-y: hidden,scroll;
    }
  }

  /* width */
::-webkit-scrollbar {
  width: 12px;

  /* Track */
  &-track {
    background-color: black;
  }
  
  /* Handle */
  &-thumb {
    background-color: rgba(153, 38, 240, 0.95); 
    border-radius: 12px;

    &:hover {
      background-color: rgba(209, 34, 227, 0.95); 
    }
  } 
}

